<a href="https://colab.research.google.com/github/urmilapol/urmilapolprojects/blob/master/ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import sqlite3
# Generate sample or upload CSV
df = pd.DataFrame({
    'order_id': [1,2,3], 'date': ['2025-01-01','2025-01-02','2025-01-03'],
    'amount': [100, None, 200], 'region': ['North','South','North']
})
df.to_csv('sales.csv', index=False)  # Extract step

# Transform
df['date'] = pd.to_datetime(df['date'])
df = df.dropna(subset=['amount'])
df['month'] = df['date'].dt.to_period('M')
monthly = df.groupby(['month','region'])['amount'].sum().reset_index()

# Convert 'month' column to string before loading to SQLite
monthly['month'] = monthly['month'].astype(str)

# Load
conn = sqlite3.connect(':memory:')  # In-memory DB
monthly.to_sql('monthly_sales', conn, if_exists='replace')
print(pd.read_sql('SELECT * FROM monthly_sales', conn))  # Query

   index    month region  amount
0      0  2025-01  North   300.0