<a href="https://colab.research.google.com/github/urmilapol/urmilapolprojects/blob/master/first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
user = "User Full Name"
game = 'Monopoly'
 
longer = "This string is broken up \
over multiple lines"
print(user)
print(longer)
print(game)

User Full Name
This string is broken up over multiple lines
Monopoly

In [ ]:
user_name = "@sonnynomnom"
user_id = 100
verified = False
 
# A variable's value can be changed after assignment
 
points = 100
print(points)
points = 120
print(points)

100
120

In [ ]:
x=5
y=10
print(x+y)

15

In [ ]:
# Arithmetic operations
 
result = 10 + 30
print(result)
result = 40 - 10
print(result)
result = 50 * 5
print(result)
result = 16 / 4
print(result)
result = 25 % 2
print(result)
result = 5 ** 3
print(result)

40
30
250
4.0
1
125

In [ ]:
first = "Hello "
second = "World"
 
result = first + second
 
long_result = first + second + "!"
print(long_result)

Hello World!

In [ ]:
# Plus-Equal Operator
 
counter = 0
counter += 10c
 
# This is equivalent to
 
counter = 0
counter = counter + 10
 
# The operator will also perform string concatenation
 
message = "Part 1 of message "
message += "Part 2 of message"
print()

In [1]:
 
if 'Yes' == 'Yes':
  # evaluates to True
  print('They are equal')
 
if (2 > 1) == (5 < 10):
  # evaluates to True
  print('Both expressions give the same result')
 
c = '2'
d = 2
 
if c == d:
  print('They are equal')
else:
  print('They are not equal')

They are equal
Both expressions give the same result
They are not equal

In [2]:
# Not Equals Operator
 
if "Yes" != "No":
  # evaluates to True
  print("They are NOT equal")
 
val1 = 10
val2 = 20
 
if val1 != val2:
  print("They are NOT equal")
 
if (10 > 1) != (10 > 1000):
  # True != False
  print("They are NOT equal")

They are NOT equal
They are NOT equal
They are NOT equal

In [3]:
# if Statement
 
test_value = 100
 
if test_value > 1:
  # Expression evaluates to True
  print("This code is executed!")
 
if test_value > 1000:
  # Expression evaluates to False
  print("This code is NOT executed!")
 
print("Program continues at this point.")

This code is executed!
Program continues at this point.

In [4]:
# else Statement
 
test_value = 50
 
if test_value < 1:
  print("Value is < 1")
else:
  print("Value is >= 1")
 
test_string = "VALID"
 
if test_string == "NOT_VALID":
  print("String equals NOT_VALID")
else:
  print("String equals something else!")

Value is >= 1
String equals something else!

In [5]:
is_true = True
is_false = False
 
print(type(is_true)) 
# will output: <class 'bool'>

<class 'bool'>