<a href="https://colab.research.google.com/github/urmilapol/urmilapolprojects/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
import pandas as pd

**2. Core Data Structures:**

- **Series:** One-dimensional labeled array capable of holding any data type.

In [5]:
data = pd.Series([1, 2, 3, 4])
print(data)

0    1
1    2
2    3
3    4
dtype: int64

In [7]:
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

Output:
   ```
      Name  Age
   0  Alice   25
   1    Bob   30
   2  Charlie   35
   ```

**3. Reading Data:**

- **CSV files:**

In [9]:
df = pd.read_csv('/content/sample_data/Iris.csv')

- **Excel files:**

In [ ]:
df = pd.read_excel('data.xlsx')

- **Other formats:** JSON, SQL databases, etc.

**4. Viewing Data:**

- **Head and tail:**

In [11]:
print(df.head())  # First 5 rows
print(df.tail())  # Last 5 rows

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

- **Info:**

In [12]:
print(df.info())  # Data types and non-null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

- **Describe:**

https://realpython.com/python-statistics/

In [13]:
print(df.describe())  # Summary statistics

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

**5. Selecting and Filtering:**

- **Selecting columns:**

In [16]:
print(df.columns)

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [17]:
print(df['PetalLengthCm'])

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLengthCm, Length: 150, dtype: float64

- **Selecting rows:**

In [ ]:
print(df.iloc[1])  # Second row
   print(df.loc[df['Age'] > 30])  # Rows where Age > 30

**6. Handling Missing Values:**

- **Checking for missing values:**

In [ ]:
print(df.isnull().sum())

- **Removing missing values:**

In [ ]:
print(df.dropna())

- **Filling missing values:**

In [ ]:
print(df.fillna(value=0))

**7. Data Cleaning and Transformation:**

- **Renaming columns:**

In [ ]:
df = df.rename(columns={'Name': 'Full Name'})

- **Dropping columns:**

In [ ]:
df = df.drop('Age', axis=1)

- **Creating new columns:**

In [ ]:
df['City'] = ['New York', 'London', 'Paris']

**8. Grouping and Aggregating:**

- **Grouping by a column:**

In [ ]:
grouped = df.groupby('City')
   print(grouped.mean())  # Mean of each group

**9. Merging and Joining DataFrames:**

- **Concatenating DataFrames:**

In [ ]:
df_combined = pd.concat([df1, df2])

- **Merging based on common columns:**

In [ ]:
df