<a href="https://colab.research.google.com/github/urmilapol/urmilapolprojects/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas Functions for Data Analysis and Manipulation**
## Pandas is built on top of the NumPy package
First, let’s import the Pandas module. We will make an alias of “pandas” as pd because it makes the code a little easy to read and it also avoids any namespace issue.

In [1]:
import pandas as pd

Next, we will import the os module which will help us to read the input file.

In [11]:
import os

Then, we will create a function that will get the file name as input and load the particular file from the location. And, then we will call this function in the Pandas function which is “read_csv()“, which will read the file from the provided location.
# **1. Read**

In [16]:
import pandas as pd
df=pd.read_csv("/content/sample_data/police.csv")

In [17]:
df.head()

    stop_date stop_time  ...  stop_duration drugs_related_stop
0  2005-01-02     01:55  ...       0-15 Min              False
1  2005-01-18     08:15  ...       0-15 Min              False
2  2005-01-23     23:15  ...       0-15 Min              False
3  2005-02-20     17:15  ...      16-30 Min              False
4  2005-03-14     10:00  ...       0-15 Min              False

[5 rows x 15 columns]

In [18]:
df.tail()

        stop_date stop_time  ...  stop_duration drugs_related_stop
91736  2015-12-31     20:27  ...       0-15 Min              False
91737  2015-12-31     20:35  ...       0-15 Min              False
91738  2015-12-31     20:45  ...       0-15 Min              False
91739  2015-12-31     21:42  ...       0-15 Min              False
91740  2015-12-31     22:46  ...       0-15 Min              False

[5 rows x 15 columns]

In [20]:
df.shape

(91741, 15)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB

In [22]:
df.isnull().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [25]:
df.columns

Index(['stop_date', 'stop_time', 'driver_gender', 'driver_age_raw',
       'driver_age', 'driver_race', 'violation_raw', 'violation',
       'search_conducted', 'search_type', 'stop_outcome', 'is_arrested',
       'stop_duration', 'drugs_related_stop'],
      dtype='object')