<a href="https://colab.research.google.com/github/urmilapol/urmilapolprojects/blob/master/percentileeercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [15]:
df=pd.read_csv("/content/sample_data/AB_NYC_2019.csv")

In [16]:
df.dropna(inplace = True)

In [17]:
desc = df["name"].describe()

In [18]:
desc

count                   38821
unique                  38253
top       Home away from home
freq                       12
Name: name, dtype: object

In [19]:
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
3  3831  ...              194
4  5022  ...                0
5  5099  ...              129

[5 rows x 16 columns]

In [20]:
df.price.describe()

count    38821.000000
mean       142.332526
std        196.994756
min          0.000000
25%         69.000000
50%        101.000000
75%        170.000000
max      10000.000000
Name: price, dtype: float64

In [22]:
min_thresold, max_thresold = df.price.quantile([0.01,0.999])
min_thresold, max_thresold

(30.0, 2000.0)

In [23]:
df[df.price<min_thresold]

             id  ... availability_365
957      375249  ...              226
2675    1428154  ...              321
3020    1767037  ...               50
3918    2431607  ...              258
4647    3258197  ...                9
...         ...  ...              ...
46894  35481807  ...              334
47130  35606165  ...              353
47218  35642891  ...                0
48126  36101190  ...               86
48486  36280646  ...              322

[309 rows x 16 columns]

In [24]:
df2 = df[(df.price>min_thresold)&(df.price<max_thresold)]
df2.shape

(38262, 16)

In [25]:
df2.sample(5)

             id  ... availability_365
27080  21426368  ...                0
3185    1900780  ...              281
40713  31593170  ...               32
10236   7839096  ...               98
6592    4767139  ...                0

[5 rows x 16 columns]

In [26]:
df2.price.describe()

count    38262.000000
mean       139.097355
std        118.162195
min         31.000000
25%         70.000000
50%        105.000000
75%        170.000000
max       1999.000000
Name: price, dtype: float64