<a href="https://colab.research.google.com/github/urmilapol/urmilapolprojects/blob/master/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id="ref1"></a>
<center><h2>Sets</h2></center>

In this lab, we are going to take a look at sets in Python. A set is a unique collection of objects in Python. You can denote a set with a curly bracket **{}**. Python will remove duplicate items:

In [1]:
set1={"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

The process of mapping is illustrated in the figure:

<a ><img src = https://ibm.box.com/shared/static/i0xb9qbetek7kbh17krx05i4lqmywahm.png width = 1100, align = "center"></a>

 You can also  create a set from a list as follows:

In [2]:
album_list =[ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]

album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

Now let us create a set of  genres:

In [3]:
music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

#### Convert the following list to a set ['rap','house','electronic music', 'rap']:

  <div align="right">
<a href="#q10" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="q10" class="collapse">
```
set(['rap','house','electronic music','rap'])
```
</div>

Notice that the duplicates are removed and the output is sorted.

Let us get the sum of the claimed sales:

#### Consider the list A=[1,2,2,1] and set B=set([1,2,2,1]), does sum(A)=sum(B)

 <div align="right">
<a href="#2" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="2" class="collapse">
```
No, when casting a list to a set, the new set has no repeat elements. Run the following code to verify:
A=[1,2,2,1]  
B=set([1,2,2,1])
print("the sum of A is:",sum(A))
print("the sum of B is:",sum(B))
```
</div>

Now let's determine the average rating:

### Set Operations

 Let us go over Set Operations, as these can be used to change the set. Consider the set **A**:

In [4]:
A = set(["Thriller","Back in Black", "AC/DC"] )
A

{'AC/DC', 'Back in Black', 'Thriller'}

 We can add an element to a set using the **add()** method:

In [5]:
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

 If we add the same element twice, nothing will happen as there can be no duplicates in a set:

In [6]:
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

 We can remove an item from a set using the remove method:

In [7]:
A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

 We can verify if an element is in the set using the **in** command :

In [8]:
"AC/DC"  in A

True

### Working with sets

Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union:

 Consider the following two sets:

In [9]:
album_set1 = set(["Thriller",'AC/DC', 'Back in Black'] )
album_set2 = set([ "AC/DC","Back in Black", "The Dark Side of the Moon"] )

 <a ><img src = "https://ibm.box.com/shared/static/bl6ijga6g8r7bdfkl17qw7zh62czte47.png" width = 850, align = "center"></a>
  <h4 align=center>  Visualizing the sets as two circles 
 
  </h4>

In [10]:
album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

 As both sets contain 'AC/DC' and 'Back in Black' we represent these common elements with the intersection of two circles.

 <a ><img src = "https://ibm.box.com/shared/static/7ttuf8otui4s6axm23csmb4s3pxz16y2.png" width = 650, align = "center"></a>
  <h4 align=center>  Visualizing common elements with the intersection of two circles.
 
  </h4>

We can find the common elements of the sets as follows:

In [11]:
album_set_3=album_set1 & album_set2
album_set_3

{'AC/DC', 'Back in Black'}

We can find all the elements that are only contained in **album_set1** using the **difference** method:

In [12]:
album_set1.difference(album_set2)

{'Thriller'}

We only consider elements in **album_set1**; all the elements in **album_set2**, including the intersection, are not included.

 <a ><img src = "https://ibm.box.com/shared/static/osmxw1qnb5t9odon2cx94wxhfzlkn1n8.png" width = 650, align = "center"></a>
  <h4 align=center>  The difference of “album_set1” and   “album_set2
 
  </h4>

The difference between **album_set2** and **album_set1** is given by:

In [13]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

<a ><img src = "https://ibm.box.com/shared/static/klgc09bgpsjudr9v3wtl8yk9s2lya3hl.png" width = 650, align = "center"></a>
  <h4 align=center>  The difference of **album_set2** and   **album_set1**
 
  </h4>

We can also find the intersection, i.e in both **album_list2** and **album_list1**, using the intersection command :

In [14]:
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

 This corresponds to the intersection of the two circles:

 <a ><img src = "https://ibm.box.com/shared/static/s2xfytq43twp6jsvbvr4o2fir7wdablo.png" width = 650, align = "center"></a>
  <h4 align=center>  Intersection of set
 
  </h4>

 The union corresponds to all the elements in both sets, which is represented by colouring  both circles:

 <a ><img src = "https://ibm.box.com/shared/static/vkczce5jh50g0oh53xn0ilgriflcrog0.png" width = 650, align = "center"></a>
  <h4 align=center> Figure 7:  Union of set
 
  </h4>

 The union is given by:

In [15]:
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

And you can check if a set is a superset or subset of another set, respectively, like this:

In [16]:
set(album_set1).issuperset(album_set2)

False

In [17]:
set(album_set2).issubset(album_set1)

False

Here is an example where **issubset()** is **issuperset()** is true:

In [18]:
set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [19]:
album_set1.issuperset({"Back in Black", "AC/DC"})

True

#### Create a new set “album_set3” that is the union of “album_set1” and “album_set2”:

<div align="right">
<a href="#4" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="4" class="collapse">
```
album_set3=album_set1.union(album_set2)
album_set3
```
</div>

#### Find out if  "album_set1" is a subset of "album_set3":

 <div align="right">
<a href="#5" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="5" class="collapse">
```
album_set1.issubset(album_set3)  

```
</div>


 <a href="http://cocl.us/bottemNotebooksPython101Coursera"><img src = "https://ibm.box.com/shared/static/irypdxea2q4th88zu1o1tsd06dya10go.png" width = 750, align = "center"></a>