<a href="https://colab.research.google.com/github/urmilapol/urmilapolprojects/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/sample_data/titanic.csv")
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [ ]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [ ]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [ ]:
inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})

In [ ]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [ ]:
inputs.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500

In [ ]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [ ]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

In [ ]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
dtype: int64

In [ ]:
df.dropna

<bound method DataFrame.dropna of      Survived  Pclass     Sex    Age     Fare
0           0       3    male   22.0   7.2500
1           1       1  female   38.0  71.2833
2           1       3  female   26.0   7.9250
3           1       1  female   35.0  53.1000
4           0       3    male   35.0   8.0500
..        ...     ...     ...    ...      ...
886         0       2    male   27.0  13.0000
887         1       1  female   19.0  30.0000
888         0       3  female  999.0  23.4500
889         1       1    male   26.0  30.0000
890         0       3    male   32.0   7.7500

[891 rows x 5 columns]>

In [ ]:
X_test = X_test.fillna(X_train.mean())
X_test

     Pclass  Sex        Age     Fare
590       3    1  35.000000   7.1250
265       2    1  36.000000  10.5000
688       3    1  18.000000   7.7958
136       1    2  19.000000  26.2833
176       3    1  29.741088  25.4667
..      ...  ...        ...      ...
72        2    1  21.000000  73.5000
683       3    1  14.000000  46.9000
280       3    1  65.000000   7.7500
558       1    2  39.000000  79.6500
468       3    1  29.741088   7.7250

[179 rows x 4 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [ ]:
X_train = X_train.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)

In [ ]:
X_test = X_test.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)

In [ ]:
len(X_train)

712

In [ ]:
len(X_test)

179

In [ ]:
y_train

475    0
670    1
333    0
783    0
32     1
      ..
339    0
14     0
12     0
16     0
29     0
Name: Survived, Length: 712, dtype: int64

In [ ]:
y_test

107    1
735    0
277    0
880    1
53     1
      ..
69     0
888    0
211    1
79     1
798    0
Name: Survived, Length: 179, dtype: int64

In [ ]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [ ]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [ ]:
model.score(X_test,y_test)

0.7374301675977654

In [91]:
model.predict([[3,1,22,7]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0])

In [92]:
model.predict([[2,1,36,10]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0])