<a href="https://colab.research.google.com/github/urmilapol/urmilapolprojects/blob/master/Tourism1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import urllib.request
import os
import pandas as pd
import numpy as np
from nltk.tokenize import RegexpTokenizer
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords

In [5]:

df = pd.read_csv('/content/sample_data/hotel review/train.csv', encoding='utf-8')
df.head(3)

   User_ID  ... Is_Response
0  id10326  ...   not happy
1  id10327  ...   not happy
2  id10328  ...   not happy

[3 rows x 5 columns]

In [7]:
import nltk

In [8]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [9]:

# init Objects
tokenizer=RegexpTokenizer(r'\w+')
en_stopwords=set(stopwords.words('english'))
ps=PorterStemmer()
def getStemmedReview(review):
    review=review.lower()
    review=review.replace("<br /><br />"," ")
    #Tokenize
    tokens=tokenizer.tokenize(review)
    new_tokens=[token for token in tokens if token not in  en_stopwords]
    stemmed_tokens=[ps.stem(token) for token in new_tokens]
    clean_review=' '.join(stemmed_tokens)
    return clean_review

In [10]:
df['Is_Response'] = df['Is_Response'].map({'not happy':0, 'happy':1})

In [11]:
df.head(10)

   User_ID  ... Is_Response
0  id10326  ...           0
1  id10327  ...           0
2  id10328  ...           0
3  id10329  ...           1
4  id10330  ...           0
5  id10331  ...           1
6  id10332  ...           0
7  id10333  ...           1
8  id10334  ...           1
9  id10335  ...           0

[10 rows x 5 columns]

In [12]:
df.drop(['User_ID','Browser_Used','Device_Used'],axis=1,inplace=True)

In [13]:
df.head(10)

                                         Description  Is_Response
0  The room was kind of clean but had a VERY stro...            0
1  I stayed at the Crown Plaza April -- - April -...            0
2  I booked this hotel through Hotwire at the low...            0
3  Stayed here with husband and sons on the way t...            1
4  My girlfriends and I stayed here to celebrate ...            0
5  We had - rooms. One was very nice and clearly ...            1
6  My husband and I have stayed in this hotel a f...            0
7  My wife & I stayed in this glorious city a whi...            1
8  My boyfriend and I stayed at the Fairmont on a...            1
9  Wonderful staff, great location, but it was de...            0

In [19]:
df['Description'].apply(getStemmedReview)
X_train = df.loc[:35000, 'Description'].values
y_train = df.loc[:35000, 'Is_Response'].values
X_test = df.loc[35000:, 'Description'].values
y_test = df.loc[35000:, 'Is_Response'].values

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(sublinear_tf=True, encoding='utf-8',decode_error='ignore')
vectorizer.fit(X_train)
X_train=vectorizer.transform(X_train)
X_test=vectorizer.transform(X_test)

In [21]:
import numpy as np

# Here 1 denotes a positive sentiment
model.predict(X_test[0])

# 78% probability that the given text is negative
model.predict_proba(X_test[0])

import joblib

joblib.dump(en_stopwords,'stopwords.pkl') 
joblib.dump(model,'model.pkl')
joblib.dump(vectorizer,'vectorizer.pkl')

['vectorizer.pkl']

In [24]:
!pip install flask-ngrok
!pip install -U WTForms

Collecting flask-ngrok
  Downloading https://files.pythonhosted.org/packages/af/6c/f54cb686ad1129e27d125d182f90f52b32f284e6c8df58c1bae54fa1adbc/flask_ngrok-0.0.25-py3-none-any.whl
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.7/dist-packages (from flask-ngrok) (1.1.4)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from flask-ngrok) (2.23.0)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (1.0.1)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (1.1.0)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (7.1.2)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (2.11.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (2.10)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=0.8->flask-ngrok) (2.0.1)
Installing collected packages: flask-ngrok
Successfully installed flask-ngrok-0.0.25
Collecting WTForms
  Downloading https://files.pythonhosted.org/packages/e0/31/614fc7dc7d76005b0acb8c0c8920d962b83d7422b4ba912886dfb63f86ff/WTForms-2.3.3-py2.py3-none-any.whl (169kB)
     |████████████████████████████████| 174kB 4.0MB/s
Requirement already satisfied, skipping upgrade: MarkupSafe in /usr/local/lib/python3.7/dist-packages (from WTForms) (2.0.1)
Installing collected packages: WTForms
Successfully installed WTForms-2.3.3

In [27]:
!pip install portpicker

Requirement already satisfied: portpicker in /usr/local/lib/python3.7/dist-packages (1.3.9)

In [47]:
!pip install WSGIServer

Requirement already satisfied: WSGIServer in /usr/local/lib/python3.7/dist-packages (1.3)

In [45]:
!pip install --user gevent

Requirement already satisfied: gevent in /root/.local/lib/python3.7/site-packages (21.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from gevent) (57.0.0)
Requirement already satisfied: zope.event in /root/.local/lib/python3.7/site-packages (from gevent) (4.5.0)
Requirement already satisfied: zope.interface in /root/.local/lib/python3.7/site-packages (from gevent) (5.4.0)
Requirement already satisfied: greenlet<2.0,>=0.4.17; platform_python_implementation == "CPython" in /usr/local/lib/python3.7/dist-packages (from gevent) (1.1.0)

In [50]:
pip install wsgiserver

Requirement already satisfied: wsgiserver in /usr/local/lib/python3.7/dist-packages (1.3)

In [57]:
from flask import Flask, render_template, request
from wtforms import Form, TextAreaField, validators
import wsgiserver
import pickle
import sqlite3
import os
import numpy as np
import joblib
loaded_model=joblib.load("/content/model.pkl")
loaded_stop=joblib.load("/content/stopwords.pkl")
loaded_vec=joblib.load("/content/vectorizer.pkl")
app = Flask(__name__)


def classify(document):
    label = {0: 'negative', 1: 'positive'}
    X = loaded_vec.transform([document])
    y = loaded_model.predict(X)[0]
    proba = np.max(loaded_model.predict_proba(X))
    return label[y], proba

class ReviewForm(Form):
    Hotelreview = TextAreaField(' ',[validators.DataRequired(),validators.length(min=15)])
    
@app.route('/')


def index():
    form = ReviewForm(request.form)
    return render_template('/content/sample_data/hotel review/reviewform.html', form=form)

@app.route('/content/sample_data/hotel review/reviewform.html', methods=['POST'])
def results():
    form = ReviewForm(request.form)
    if request.method == 'POST' and form.validate():
        review = request.form['Hotelreview']
        y, proba = classify(review)
        return render_template('results.html',content=review,prediction=y,probability=round(proba*100, 2))
    return render_template('reviewform.html', form=form)

if __name__ == '__main__':